@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --color-workbg: #d0e7ff;
  --color-workicon: #2c7be5;

  --color-personalbg: #f0e6ff;
  --color-personalicon: #7b3fe4;

  --color-hobbybg: #ffe0f0;
  --color-hobbyicon: #db2777;

  --color-homebg: #e8faf7;
  --color-homeicon: #3eac88;

  --color-studybg: #fff7e1;
  --color-studyicon: #d18b00;

  --color-shoppingbg: #fffce5;
  --color-shoppingicon: #b58900;

  --color-fitnessbg: #e6f1d9;
  --color-fitnessicon: #2e7d32;

  --color-financebg: #d3f0ff;
  --color-financeicon: #0288d1;

  --color-urgentbg: #ffe6e9;
  --color-urgenticon: #c53030;

  --color-otherbg: #ffe8e8;
  --color-othericon: #c53030;

  --background: #ffffff;
  --foreground: #3d4488;
  --headers: #15193f;

  --card-border: rgba(0, 0, 0, 0.05);

  --radius: 0.625rem;
  --input-placeholder: #9c9fbc;
  --input-border: #c3d4e8;
  --input-ring: #aac4e8;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@layer utilities {
  .animate-text {
    background-size: 200% auto;
    animation: shimmer 3s linear infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 200% center;
    }
  }
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

